.alert {
  background: #F7F7F7;
  color: #595959;
  //box-shadow: 0 4px 20px rgba(0,0,0,.1);
  width: fit-content;
  border: none;
  margin-bottom: 0;
  font-weight: 600;

  &.alert-secondary {
    background: none;
    box-shadow: 0 0 0 1px #F7F7F7;
  }

  *:last-child {
    margin-bottom: 0;
  }

  &.alert-success {
    background: #E6F4EA;
    color: #2D7A46;
  }

  &.alert-danger {
    background: #FDEAEA;
    color: #D93025;
  }
}

.wdl-copy-alert {
  position: fixed;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 110000;
}

.wdl-alert-center {
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 5;
  background: rgba(255, 255, 255, 0.8);
  padding: 12px;
  width: 500px;
  height: fit-content;
  max-width: 100svw;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  pointer-events: none;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;

  &:not(.active) {
    visibility: hidden;
    opacity: 0;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}