.container-archive {
  @media (min-width: 1200px) {
    max-width: 1160px !important;
  }
  @media (min-width: 1400px) {
    max-width: 1360px !important;
  }
  @media (min-width: 1900px) {
    max-width: 2100px !important;
  }
}

.wdl-archive-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr);

  @include min-width-md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include min-width-lg {
    grid-template-columns: repeat(3, 1fr);
  }

  @include min-width-xl {
    grid-template-columns: repeat(4, 1fr);
  }

  @include min-width-xxl {
    grid-template-columns: repeat(5, 1fr);
  }

  @include min-width-xxxl {
    grid-template-columns: repeat(6, 1fr);
  }
}

.row-cols-archive > * {
  flex: 0 0 auto;
  width: 100%;

  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 50%;
  }
  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  @media (min-width: 1400px) {
    flex: 0 0 auto;
    width: 25%;
  }
  @media (min-width: 1920px) {
    flex: 0 0 auto;
    width: 20%;
  }
  @media (min-width: 2100px) {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}

.row-cols-archive-randomized {
  opacity: 0;
  transition: 0.25s all ease-out;

  &.opacity-1 {
    opacity: 1;
  }
}

.row-cols-archive.alm-listing {
  > .alm-reveal {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    > * {
      flex: 0 0 auto;
      width: 100%;
      padding: 0.75rem;
    }
  }

  @media (min-width: 768px) {
    > .alm-reveal {
      > * {
        flex: 0 0 auto;
        width: 50%;
      }
    }
  }
  @media (min-width: 992px) {
    > .alm-reveal {
      > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
      }
    }
  }
  @media (min-width: 1400px) {
    > .alm-reveal {
      > * {
        flex: 0 0 auto;
        width: 25%;
      }
    }
  }
  @media (min-width: 1920px) {
    > .alm-reveal {
      > * {
        flex: 0 0 auto;
        width: 20%;
      }
    }
  }
  @media (min-width: 2100px) {
    > .alm-reveal {
      > * {
        flex: 0 0 auto;
        width: 16.6666666667%;
      }
    }
  }
}

.alm-btn-wrap {
  text-align: center;
  margin: 24px 0;

  button {
    border: none;
    background: none;
    color: #999999;
    font-size: 1rem;
  }
}

/* Archive */
.wdl-archive-swiper {
  padding-bottom: 24px;
  .swiper-wrapper {
    .card {
      align-items: stretch;
      //width: 350px;
      height: auto;
      border: 0;
      box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.1) inset,
        0 0 0 rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      gap: 0;
      transition: 0.25s box-shadow;
      border-radius: 0.5rem;

      &:hover {
        box-shadow:
          0 0 0 1px rgba(0, 0, 0, 0.1) inset,
          0 4px 15px rgba(0, 0, 0, 0.05);
      }

      /* @media (min-width: 768px) {
        &:after {
          content: "\24";
          color: #ff2758;
          text-align: right;
          font-family: ETmodules !important;
          font-size: 20px;
          display: block;
          opacity: 0;
          transform: translateX(-10px);
          margin-right: 8px;
          transition:
            0.25s transform,
            0.25s opacity;
        }
  
        &:hover:after {
          opacity: 1;
          transform: translateX(0);
        }
      } */

      .card-body {
        padding: 0.5rem;
      }

      .card-img-top {
        padding: 0;
        img {
          border-radius: 0.5rem 0.5rem 0 0;
          aspect-ratio: 30/18;
          object-fit: cover;
        }
      }

      .wdl-archive-title {
        font-size: 0.9375rem;
        font-weight: 400;
        transition: 0.25s color;
      }

      &:hover {
        .wdl-archive-title {
          color: #ff2758;
        }
      }
    }

    .swiper-slide {
      height: auto;
      > .card {
        height: 100%;
      }
    }
  }
}
.wdl-archive {
  .col,
  .swiper-slide {
    position: relative;
  }
  .swiper-wrapper {
    align-items: stretch;
  }
  .card {
    border: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 0;
    transition: 0.25s box-shadow;
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.1) inset,
      0 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    &:hover {
      box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.1) inset,
        0 4px 15px rgba(0, 0, 0, 0.05);
    }

    /* @media (min-width: 768px) {
      &:after {
        content: "\24";
        color: #ff2758;
        text-align: right;
        font-family: ETmodules !important;
        font-size: 20px;
        display: block;
        opacity: 0;
        transform: translateX(-10px);
        transition:
          0.25s transform,
          0.25s opacity;
      }

      &:hover:after {
        opacity: 1;
        transform: translateX(0);
      }
    } */

    .card-body {
      padding: 0.5rem 0.5rem 0.5rem;
    }

    .card-img-top {
      padding: 0;

      img {
        border-radius: 0.5rem 0.5rem 0 0;
        aspect-ratio: 30/18;
        object-fit: cover;
      }
    }

    .wdl-archive-card-img-top {
      position: relative;
      .badge {
        position: absolute;
        bottom: 4px;
        left: 4px;
        z-index: 1;
      }

      img {
        width: 100%;
      }
    }
  }
}
.wdl-archive-extended,
.wdl-archive-extended .wdl-archive-swiper {
  padding: 2px 8px 24px;
  margin: -2px -8px -2px -8px;
  //margin: -2px 0;

  .swiper-wrapper {
    align-items: stretch;
  }
  .card {
    transition: 0.25s box-shadow;
    border-radius: 12px;
    overflow: hidden;
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.1) inset,
      0 0 0 0 rgba(0, 0, 0, 0.05);

    &::after {
      content: none !important;
    }
    &:hover {
      z-index: 1;
      box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.1) inset,
        0 4px 30px rgba(0, 0, 0, 0.05);
      .card-footer {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:hover,
    &.active {
      .card-select {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    &.active {
      z-index: 1;
      box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.05) inset,
        0 0 0 2px #ff2758;
    }

    .wdl-card-gallery-swiper {
      .swiper-navigation {
        .swiper-button-next {
          right: 8px;
        }
        .swiper-button-prev {
          left: 8px;
        }
      }
    }

    &:not(:hover) {
      .wdl-card-gallery-swiper {
        .swiper-navigation {
          .swiper-button-next,
          .swiper-button-prev {
            opacity: 0;
          }
        }
      }
    }
  }

  .card-select {
    border-radius: 0 6px 0 6px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    opacity: 0;
    transform: translate(20%, 0%);
    transition:
      0.25s opacity ease-out,
      0.25s transform ease-out;
    z-index: 1;
    margin: 0;
    padding: 4px;
    cursor: pointer;

    @include max-width-xl {
      transform: translate(0, 0);
      opacity: 1;
    }

    label {
      font-size: 14px;
      line-height: 20px;
      display: flex;
      gap: 4px;
      &:before {
        content: "";
        position: relative;
        background-image: url("data:image/svg+xml,%3Csvg fill='%23FFF' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
        background-size: 12px;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }

  .card-footer {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: none;
    border: none;
    //opacity: 0;
    transition:
      0.25s opacity ease-out,
      0.25s transform ease-out;
    //transform: translateY(-10px);
    transform-origin: top center;
    height: 30px;
    > *:last-child {
      margin-right: 8px;
    }

    @include max-width-xl {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .wdl-btn-cta {
    @extend .wdl-btn;
    font-size: 14px !important;
    border-radius: 0 0.75rem 0 0.75rem !important;
    padding: 6px 16px !important;
    line-height: 1.3;
  }
  .wdl-btn-more {
    font-size: 14px;
    line-height: 1.3;
  }
}

.wdl-archive-no-compare {
  .card-select {
    display: none !important;
  }
  .card-footer {
    display: none !important;
  }
}
.wdl-archive-card-blog {
  &:after {
    content: none !important;
  }
}
.wdl-archive-pretitle {
  color: #37bad6;
  font-size: 0.8125rem;
  margin-bottom: 0;
  display: flex;
  gap: 4px;
  align-items: baseline;
  line-height: 1.2;
}
.wdl-archive-title {
  @extend .lineclamp-2;

  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  font-weight: 600;

  a,
  a:hover,
  a:focus,
  a:active {
    font-weight: 600;
    color: #333333;
  }
}
.wdl-archive-location {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  display: -webkit-box;
  font-size: 0.8125rem;
  font-weight: 500;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  > a,
  a:hover,
  a:focus,
  a:active {
    color: #888888;
    //font-weight: 400;
  }
  &:before {
    content: "\e081";
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #37bad6;
    margin-right: 0.25rem;
  }
}
.wdl-archive-neighborhood {
  display: flex;
  align-items: center;

  &:before {
    content: "\e081";
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #37bad6;
    margin-right: 0.25rem;
    //width: 1em;
  }

  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.3;

    li {
      display: inline-block;

      &:not(:first-child) {
        &:before {
          content: "/";
          display: inline-block;
        }
      }
    }
  }
}
.wdl-archive-min-price {
  display: flex;
  align-items: center;
  &:before {
    content: "\e07b";
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #37bad6;
    margin-right: 0.25rem;
    //width: 1em;
  }
}
.wdl-archive-max-guest {
  display: flex;
  align-items: center;
  &:before {
    content: "\e08b";
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #37bad6;
    margin-right: 0.25rem;
    //width: 1em;
  }
}
.wdl-archive-appointment {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-decoration: underline;
  &:before {
    content: "\e023";
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #37bad6;
    margin-right: 0.25rem;
    //width: 1em;
  }
}
.wdl-archive-max-carpark {
  display: flex;
  align-items: center;
  &:before {
    content: "\e077";
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #37bad6;
    margin-right: 0.25rem;
    //width: 1em;
  }
}
.wdl-archive-pin {
  display: flex;
  align-items: center;
  &:before {
    content: "\e081";
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #37bad6;
    margin-right: 0.25rem;
    //width: 1em;
  }
}
.wdl-archive-facebook {
  display: flex;
  align-items: center;
  &:before {
    content: "\e0aa";
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #37bad6;
    margin-right: 0.25rem;
    //width: 1em;
  }
}
.wdl-archive-instagram {
  display: flex;
  align-items: center;
  &:before {
    content: "\e0b1";
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #37bad6;
    margin-right: 0.25rem;
    //width: 1em;
  }
}

.wdl-metadata {
  font-size: 0.8125rem;
  color: #888888;
  font-weight: 500;
  margin-bottom: 0;
}

.wdl-metadata-banner {
  img {
    aspect-ratio: 1128/330;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.16);
  }

  @media (max-width: 1199px) {
    img {
      box-shadow: none;
      border-radius: 0;
    }
  }
}

.wdl-metadata-logo {
  img {
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}

.wp-block-tag-cloud.is-style-outline {
  gap: 5px 8px;
}

.wp-block-tag-cloud.is-style-outline a {
  padding: 4px 8px;
  box-shadow: 0 0 0 1px #eeeeee inset;
  color: #777777;
  border-radius: 0.2rem;
  border: none;
  font-size: 0.875rem !important;
  font-weight: 400;
  line-height: 1.5;
  background: none;
}

.su-posts.su-posts-teaser-loop .su-post {
  margin: 0 0 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.su-posts.su-posts-teaser-loop .su-post-thumbnail img {
  float: none;
  width: 100px;
}

.su-posts.su-posts-teaser-loop .su-post-thumbnail img {
  width: 100%;
  max-height: none;
  max-width: none;
  border: 0;
}

.su-posts.su-posts-teaser-loop .su-post-thumbnail {
  width: auto;
  float: none;
  margin: 0;
  height: auto;
}

.su-posts.su-posts-teaser-loop .su-post-title {
  color: #777777;
  font-size: 1rem;
  line-height: 1.5;
}

/* Infinite loader */
.infinite-loader {
  width: 100%;
  opacity: 0.15;
  text-align: center;
}
