/* Badge */

.wdl-badge-container {
  display: flex;
  gap: 4px;
  padding: 0;
  flex-wrap: wrap;
  align-items: baseline;

  .mobile_menu_bar {
    display: none !important;
  }

  .et-menu,
  .et_mobile_menu {
    display: flex !important;
    gap: 0.5rem;
    position: relative !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0;
  }
  .et-menu-nav {
    padding: 0;
  }
  li {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    a,
    a:hover,
    a:focus,
    a:active {
      display: block;
      padding: 4px 16px !important;
      box-shadow: 0 0 0 1px #c1c1c1;
      border-radius: 5rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #c1c1c1 !important;
    }
  }

  .swiper-slide {
    width: auto;
  }
}
.wdl-badge-small-container {
  display: flex;
  gap: 10px;
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 0;

  @include max-width-xl {
    gap: 6px;
  }
  li {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    a,
    a:hover,
    a:focus,
    a:active {
      display: block;
      padding: 8px 15px !important;
      box-shadow: 0 0 0 1px rgba(119, 119, 119, .25);
      border-radius: 5rem;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: #777777 !important;

      @include max-width-xl {
        font-size: 13px;
        padding: 6px 8px !important;
      }
    }
  }

  .swiper-slide {
    width: auto;
  }
}

.wdl-badge {
  padding: 8px 24px;
  white-space: nowrap;
  box-shadow: 0 0 0 1px #CCCCCC inset;
  color: #777777 !important;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;

  a {
    color: #777777 !important;
  }
}
.wdl-badge-primary {
  padding: 8px 24px !important;
  white-space: nowrap;
  background: #EB355D;
  color: #ffffff !important;
  border-radius: 50px;
  font-size: 0.750px;
  font-weight: 400;
  line-height: 1.5;
  display: inline;

  a {
    color: #ffffff !important;
  }
}
.wdl-badge-sm-primary {
  padding: 6px 12px;
  white-space: nowrap;
  background: #EB355D;
  color: #ffffff !important;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  display: inline-block;

  a {
    color: #ffffff !important;
  }
}
.wdl-badge-sm {
  padding: 6px 12px !important;
  white-space: nowrap;
  box-shadow: 0 0 0 1px rgba(255, 39, 88, .25) inset;
  background: #ffffff;
  color: #EB355D !important;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  transition: 0.35s cubic-bezier(0, 0, 0, 1);
  vertical-align: middle;

  a {
    color: #EB355D !important;
  }

  &.primary {
    background: #EB355D;
    box-shadow: 0 0 0 1px #EB355D inset;
    color: #ffffff !important;

    a {
      color: #ffffff !important;
    }
  }
  
  &.secondary {
    background: #37bad6;
    box-shadow: 0 0 0 1px #37bad6 inset;
    color: #ffffff !important;

    a {
      color: #ffffff !important;
    }
  }
  
  &.tertiary {
    background: #ff9319;
    box-shadow: 0 0 0 1px #ff9319 inset;
    color: #ffffff !important;

    a {
      color: #ffffff !important;
    }
  }
}
.wdl-badge-sm-secondary {
  padding: 6px 12px !important;
  white-space: nowrap;
  box-shadow: 0 0 0 1px rgba(119, 119, 119, .25) inset;
  color: #777777 !important;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  transition: 0.35s cubic-bezier(0, 0, 0, 1);
  display: inline-block;

  a {
    color: #777777 !important;
  }
}
.wdl-badge-xs {
  padding: 4px 8px;
  white-space: nowrap;
  box-shadow: 0 0 0 1px #EB355D inset;
  background: #ffffff;
  color: #EB355D !important;
  border-radius: 5rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  a {
    color: #EB355D !important;
  }
}

.wdl-badge-sm-subtle {
  color: #888888;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  padding: 0;
}
