.wdl-breadcrumb {
  p {
    margin: 0;
    font-size: 0.875rem;

    > a,
    a:hover,
    a:focus,
    a:active {
      color: #777777;
    }
    .last {
      color: #333333;
    }
    > .separator {
      margin: 0 1rem;
    }
  }
}