
.wdl-btn {
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff !important;
  background: #ff2758;
  border-radius: 4px;
  display: inline-block;
}

.wpc-filters-submit-button {
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff !important;
  background: #ff2758;
  border-radius: 4px;
  display: inline-block;
}

.wdl-btn-secondary {
  border: none;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  background: #ffffff !important;
  color: #ff2758;
  box-shadow: 0 0 0 1px #ff2758 inset;
  border-radius: 4px;
  display: inline-block;
}

.wdl-btn-rounded {
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff !important;
  background: #ff2758;
  border-radius: 30px;
  display: inline-block;
}

.wdl-btn-lg {
  border: none;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff !important;
  background: #ff2758;
  border-radius: 8px;
  display: inline-block;
}