.wdl-btn {
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff !important;
  background: #EB355D;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  transition: 0.25s background ease-out;
  position: relative;
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background: #d3d3d3;
  }

  &:hover {
    background-color: #de1242;
  }
}

.wdl-btn-tertiary {
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 600;
  background: #ffffff;
  color: #37bad6;
  box-shadow: 0 0 0 .5px #37bad6 inset;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  transition: 0.25s background ease-out;
  position: relative;

  &:hover {
    background: #37bad6;
    color: #ffffff;

    &:before {
      background: #ffffff;
    }
  }
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    color: #d3d3d3;
  }
}

.wdl-btn-tertiary-lg {
  @extend .wdl-btn-tertiary;
  padding: 8px 16px;
  border-radius: 12px;
}

.wpc-filters-submit-button {
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff !important;
  background: #EB355D;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  transition: 0.25s background ease-out;
  position: relative;
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background: #d3d3d3;
  }

  &:hover {
    background-color: #de1242;
  }
}

.wdl-btn-subtle {
  border: none;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
  background: #f7f7f7 !important;
  color: #777777;
  box-shadow: none;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  transition:
    0.25s background ease-out,
    0.25s color ease-out;
  position: relative;
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    color: #d3d3d3;
    box-shadow: none;
  }
}
.wdl-btn-secondary {
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 600;
  background: #ffffff !important;
  color: #EB355D;
  box-shadow: 0 0 0 1px rgba(235, 53, 93, 0.25) inset;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  transition:
    0.25s background ease-out,
    0.25s color ease-out;
  position: relative;

  i {
    color: #EB355D;
  }
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    color: #d3d3d3;
    box-shadow: 0 0 0 1px #d3d3d3 inset;
  }

  &:hover {
    color: #de1242;
  }
}

.wdl-btn-rounded {
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff !important;
  background: #EB355D;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  transition: 0.25s background ease-out;
  position: relative;
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background: #d3d3d3;
  }
}

.wdl-btn-lg {
  border: none;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff !important;
  background: #EB355D;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  transition: 0.25s background ease-out;
  position: relative;
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background: #d3d3d3;
  }

  &:hover {
    background-color: #de1242;
  }
}

.wdl-btn-more {
  display: flex;
  gap: 4px;
  &::after {
    content: "";
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    width: 20px;
    height: 20px;
    background-color: currentColor;
    display: block;
    color: #EB355D;
    opacity: 1;
  text-align: center;
    transition:
      0.25s transform,
      0.25s opacity;
    transform: none;
  }
}

.wdl-btn-line {
  @extend .wdl-btn;
  background: #ffffff !important;
  box-shadow: 0 0 0 .5px #28a745 inset;
  color: #28a745 !important;
  text-align: center;
  transition: 0.35s cubic-bezier(0, 0, 0, 1);
  display: inline-flex;
  gap: 10px;
  justify-content: center;

  &:hover {
    background: #28a745;
    color: #ffffff !important;

    &:before {
      background: #ffffff;
    }
  }

  &:before {
    content: "";
    mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1473 8.1875V11.3616C12.1473 11.442 12.0848 11.5045 12.0045 11.5045H11.4955C11.4464 11.5045 11.4018 11.4777 11.3795 11.4464L9.92411 9.48214V11.3661C9.92411 11.4464 9.86161 11.5089 9.78125 11.5089H9.27232C9.19197 11.5089 9.12947 11.4464 9.12947 11.3661V8.19197C9.12947 8.11161 9.19197 8.04911 9.27232 8.04911H9.77679C9.82143 8.04911 9.87054 8.07143 9.89286 8.11161L11.3482 10.0759V8.19197C11.3482 8.11161 11.4107 8.04911 11.4911 8.04911H12C12.0804 8.04465 12.1473 8.11161 12.1473 8.1875ZM8.48661 8.04464H7.97768C7.89732 8.04464 7.83482 8.10714 7.83482 8.1875V11.3616C7.83482 11.442 7.89732 11.5045 7.97768 11.5045H8.48661C8.56697 11.5045 8.62947 11.442 8.62947 11.3616V8.1875C8.62947 8.11161 8.56697 8.04464 8.48661 8.04464ZM7.25893 10.7054H5.87054V8.1875C5.87054 8.10714 5.80804 8.04464 5.72768 8.04464H5.21875C5.1384 8.04464 5.0759 8.10714 5.0759 8.1875V11.3616C5.0759 11.4018 5.08929 11.433 5.11608 11.4598C5.14286 11.4821 5.17411 11.5 5.21429 11.5H7.25447C7.33482 11.5 7.39732 11.4375 7.39732 11.3571V10.8482C7.39732 10.7723 7.33482 10.7054 7.25893 10.7054ZM14.8259 8.04464H12.7857C12.7098 8.04464 12.6429 8.10714 12.6429 8.1875V11.3616C12.6429 11.4375 12.7054 11.5045 12.7857 11.5045H14.8259C14.9062 11.5045 14.9687 11.442 14.9687 11.3616V10.8527C14.9687 10.7723 14.9062 10.7098 14.8259 10.7098H13.4375V10.1741H14.8259C14.9062 10.1741 14.9687 10.1116 14.9687 10.0312V9.51786C14.9687 9.4375 14.9062 9.375 14.8259 9.375H13.4375V8.83929H14.8259C14.9062 8.83929 14.9687 8.77679 14.9687 8.69643V8.1875C14.9643 8.11161 14.9018 8.04464 14.8259 8.04464ZM20 4.14733V16.8839C19.9955 18.8839 18.3571 20.5045 16.3527 20.5H3.61608C1.61608 20.4955 -0.00445508 18.8527 9.20161e-06 16.8527V4.11608C0.00447348 2.11608 1.64733 0.495545 3.64733 0.500009H16.3839C18.3839 0.504473 20.0045 2.14286 20 4.14733ZM17.25 9.62054C17.25 6.36161 13.9821 3.70983 9.96875 3.70983C5.95536 3.70983 2.68751 6.36161 2.68751 9.62054C2.68751 12.5402 5.27679 14.9866 8.77679 15.4509C9.62947 15.6339 9.53125 15.9464 9.33929 17.0937C9.30804 17.2768 9.19197 17.8125 9.96875 17.4866C10.7455 17.1607 14.1607 15.0179 15.692 13.2589C16.7455 12.0982 17.25 10.9241 17.25 9.62054Z' fill='currentColor'/%3E%3C/svg%3E%0A");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1473 8.1875V11.3616C12.1473 11.442 12.0848 11.5045 12.0045 11.5045H11.4955C11.4464 11.5045 11.4018 11.4777 11.3795 11.4464L9.92411 9.48214V11.3661C9.92411 11.4464 9.86161 11.5089 9.78125 11.5089H9.27232C9.19197 11.5089 9.12947 11.4464 9.12947 11.3661V8.19197C9.12947 8.11161 9.19197 8.04911 9.27232 8.04911H9.77679C9.82143 8.04911 9.87054 8.07143 9.89286 8.11161L11.3482 10.0759V8.19197C11.3482 8.11161 11.4107 8.04911 11.4911 8.04911H12C12.0804 8.04465 12.1473 8.11161 12.1473 8.1875ZM8.48661 8.04464H7.97768C7.89732 8.04464 7.83482 8.10714 7.83482 8.1875V11.3616C7.83482 11.442 7.89732 11.5045 7.97768 11.5045H8.48661C8.56697 11.5045 8.62947 11.442 8.62947 11.3616V8.1875C8.62947 8.11161 8.56697 8.04464 8.48661 8.04464ZM7.25893 10.7054H5.87054V8.1875C5.87054 8.10714 5.80804 8.04464 5.72768 8.04464H5.21875C5.1384 8.04464 5.0759 8.10714 5.0759 8.1875V11.3616C5.0759 11.4018 5.08929 11.433 5.11608 11.4598C5.14286 11.4821 5.17411 11.5 5.21429 11.5H7.25447C7.33482 11.5 7.39732 11.4375 7.39732 11.3571V10.8482C7.39732 10.7723 7.33482 10.7054 7.25893 10.7054ZM14.8259 8.04464H12.7857C12.7098 8.04464 12.6429 8.10714 12.6429 8.1875V11.3616C12.6429 11.4375 12.7054 11.5045 12.7857 11.5045H14.8259C14.9062 11.5045 14.9687 11.442 14.9687 11.3616V10.8527C14.9687 10.7723 14.9062 10.7098 14.8259 10.7098H13.4375V10.1741H14.8259C14.9062 10.1741 14.9687 10.1116 14.9687 10.0312V9.51786C14.9687 9.4375 14.9062 9.375 14.8259 9.375H13.4375V8.83929H14.8259C14.9062 8.83929 14.9687 8.77679 14.9687 8.69643V8.1875C14.9643 8.11161 14.9018 8.04464 14.8259 8.04464ZM20 4.14733V16.8839C19.9955 18.8839 18.3571 20.5045 16.3527 20.5H3.61608C1.61608 20.4955 -0.00445508 18.8527 9.20161e-06 16.8527V4.11608C0.00447348 2.11608 1.64733 0.495545 3.64733 0.500009H16.3839C18.3839 0.504473 20.0045 2.14286 20 4.14733ZM17.25 9.62054C17.25 6.36161 13.9821 3.70983 9.96875 3.70983C5.95536 3.70983 2.68751 6.36161 2.68751 9.62054C2.68751 12.5402 5.27679 14.9866 8.77679 15.4509C9.62947 15.6339 9.53125 15.9464 9.33929 17.0937C9.30804 17.2768 9.19197 17.8125 9.96875 17.4866C10.7455 17.1607 14.1607 15.0179 15.692 13.2589C16.7455 12.0982 17.25 10.9241 17.25 9.62054Z' fill='currentColor'/%3E%3C/svg%3E%0A");
    background: #28a745;
    width: 20px;
    height: 20px;
    display: block;
  text-align: center;
    transition: 0.35s cubic-bezier(0, 0, 0, 1);
  }
}

.wdl-btn-line-lg {
  @extend .wdl-btn-lg;
  background: #ffffff !important;
  box-shadow: 0 0 0 .5px #28a745 inset;
  color: #28a745 !important;
  text-align: center;
  transition: 0.35s cubic-bezier(0, 0, 0, 1);
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  font-size: 16px;

  &:hover {
  background: #28a745 !important;
    color: #ffffff !important;

    &:before {
      background: #ffffff;
    }
  }

  &:before {
    content: "";
    mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1473 8.1875V11.3616C12.1473 11.442 12.0848 11.5045 12.0045 11.5045H11.4955C11.4464 11.5045 11.4018 11.4777 11.3795 11.4464L9.92411 9.48214V11.3661C9.92411 11.4464 9.86161 11.5089 9.78125 11.5089H9.27232C9.19197 11.5089 9.12947 11.4464 9.12947 11.3661V8.19197C9.12947 8.11161 9.19197 8.04911 9.27232 8.04911H9.77679C9.82143 8.04911 9.87054 8.07143 9.89286 8.11161L11.3482 10.0759V8.19197C11.3482 8.11161 11.4107 8.04911 11.4911 8.04911H12C12.0804 8.04465 12.1473 8.11161 12.1473 8.1875ZM8.48661 8.04464H7.97768C7.89732 8.04464 7.83482 8.10714 7.83482 8.1875V11.3616C7.83482 11.442 7.89732 11.5045 7.97768 11.5045H8.48661C8.56697 11.5045 8.62947 11.442 8.62947 11.3616V8.1875C8.62947 8.11161 8.56697 8.04464 8.48661 8.04464ZM7.25893 10.7054H5.87054V8.1875C5.87054 8.10714 5.80804 8.04464 5.72768 8.04464H5.21875C5.1384 8.04464 5.0759 8.10714 5.0759 8.1875V11.3616C5.0759 11.4018 5.08929 11.433 5.11608 11.4598C5.14286 11.4821 5.17411 11.5 5.21429 11.5H7.25447C7.33482 11.5 7.39732 11.4375 7.39732 11.3571V10.8482C7.39732 10.7723 7.33482 10.7054 7.25893 10.7054ZM14.8259 8.04464H12.7857C12.7098 8.04464 12.6429 8.10714 12.6429 8.1875V11.3616C12.6429 11.4375 12.7054 11.5045 12.7857 11.5045H14.8259C14.9062 11.5045 14.9687 11.442 14.9687 11.3616V10.8527C14.9687 10.7723 14.9062 10.7098 14.8259 10.7098H13.4375V10.1741H14.8259C14.9062 10.1741 14.9687 10.1116 14.9687 10.0312V9.51786C14.9687 9.4375 14.9062 9.375 14.8259 9.375H13.4375V8.83929H14.8259C14.9062 8.83929 14.9687 8.77679 14.9687 8.69643V8.1875C14.9643 8.11161 14.9018 8.04464 14.8259 8.04464ZM20 4.14733V16.8839C19.9955 18.8839 18.3571 20.5045 16.3527 20.5H3.61608C1.61608 20.4955 -0.00445508 18.8527 9.20161e-06 16.8527V4.11608C0.00447348 2.11608 1.64733 0.495545 3.64733 0.500009H16.3839C18.3839 0.504473 20.0045 2.14286 20 4.14733ZM17.25 9.62054C17.25 6.36161 13.9821 3.70983 9.96875 3.70983C5.95536 3.70983 2.68751 6.36161 2.68751 9.62054C2.68751 12.5402 5.27679 14.9866 8.77679 15.4509C9.62947 15.6339 9.53125 15.9464 9.33929 17.0937C9.30804 17.2768 9.19197 17.8125 9.96875 17.4866C10.7455 17.1607 14.1607 15.0179 15.692 13.2589C16.7455 12.0982 17.25 10.9241 17.25 9.62054Z' fill='currentColor'/%3E%3C/svg%3E%0A");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1473 8.1875V11.3616C12.1473 11.442 12.0848 11.5045 12.0045 11.5045H11.4955C11.4464 11.5045 11.4018 11.4777 11.3795 11.4464L9.92411 9.48214V11.3661C9.92411 11.4464 9.86161 11.5089 9.78125 11.5089H9.27232C9.19197 11.5089 9.12947 11.4464 9.12947 11.3661V8.19197C9.12947 8.11161 9.19197 8.04911 9.27232 8.04911H9.77679C9.82143 8.04911 9.87054 8.07143 9.89286 8.11161L11.3482 10.0759V8.19197C11.3482 8.11161 11.4107 8.04911 11.4911 8.04911H12C12.0804 8.04465 12.1473 8.11161 12.1473 8.1875ZM8.48661 8.04464H7.97768C7.89732 8.04464 7.83482 8.10714 7.83482 8.1875V11.3616C7.83482 11.442 7.89732 11.5045 7.97768 11.5045H8.48661C8.56697 11.5045 8.62947 11.442 8.62947 11.3616V8.1875C8.62947 8.11161 8.56697 8.04464 8.48661 8.04464ZM7.25893 10.7054H5.87054V8.1875C5.87054 8.10714 5.80804 8.04464 5.72768 8.04464H5.21875C5.1384 8.04464 5.0759 8.10714 5.0759 8.1875V11.3616C5.0759 11.4018 5.08929 11.433 5.11608 11.4598C5.14286 11.4821 5.17411 11.5 5.21429 11.5H7.25447C7.33482 11.5 7.39732 11.4375 7.39732 11.3571V10.8482C7.39732 10.7723 7.33482 10.7054 7.25893 10.7054ZM14.8259 8.04464H12.7857C12.7098 8.04464 12.6429 8.10714 12.6429 8.1875V11.3616C12.6429 11.4375 12.7054 11.5045 12.7857 11.5045H14.8259C14.9062 11.5045 14.9687 11.442 14.9687 11.3616V10.8527C14.9687 10.7723 14.9062 10.7098 14.8259 10.7098H13.4375V10.1741H14.8259C14.9062 10.1741 14.9687 10.1116 14.9687 10.0312V9.51786C14.9687 9.4375 14.9062 9.375 14.8259 9.375H13.4375V8.83929H14.8259C14.9062 8.83929 14.9687 8.77679 14.9687 8.69643V8.1875C14.9643 8.11161 14.9018 8.04464 14.8259 8.04464ZM20 4.14733V16.8839C19.9955 18.8839 18.3571 20.5045 16.3527 20.5H3.61608C1.61608 20.4955 -0.00445508 18.8527 9.20161e-06 16.8527V4.11608C0.00447348 2.11608 1.64733 0.495545 3.64733 0.500009H16.3839C18.3839 0.504473 20.0045 2.14286 20 4.14733ZM17.25 9.62054C17.25 6.36161 13.9821 3.70983 9.96875 3.70983C5.95536 3.70983 2.68751 6.36161 2.68751 9.62054C2.68751 12.5402 5.27679 14.9866 8.77679 15.4509C9.62947 15.6339 9.53125 15.9464 9.33929 17.0937C9.30804 17.2768 9.19197 17.8125 9.96875 17.4866C10.7455 17.1607 14.1607 15.0179 15.692 13.2589C16.7455 12.0982 17.25 10.9241 17.25 9.62054Z' fill='currentColor'/%3E%3C/svg%3E%0A");
    background: #28a745;
    width: 20px;
    height: 20px;
    display: block;
  text-align: center;
    transition: 0.35s cubic-bezier(0, 0, 0, 1);
  }
}

.wdl-btn-line-cta {
  @extend .wdl-btn-lg;
  color: #ffffff;
  box-shadow: 0 0 0 1px #28a745 inset;
  background: #28a745;
  text-align: center;
  transition: 0.35s cubic-bezier(0, 0, 0, 1);
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  font-size: 16px;

  &:hover {
    &:before {
      background: #ffffff;
    }
  }

  &:before {
    content: "";
    mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1473 8.1875V11.3616C12.1473 11.442 12.0848 11.5045 12.0045 11.5045H11.4955C11.4464 11.5045 11.4018 11.4777 11.3795 11.4464L9.92411 9.48214V11.3661C9.92411 11.4464 9.86161 11.5089 9.78125 11.5089H9.27232C9.19197 11.5089 9.12947 11.4464 9.12947 11.3661V8.19197C9.12947 8.11161 9.19197 8.04911 9.27232 8.04911H9.77679C9.82143 8.04911 9.87054 8.07143 9.89286 8.11161L11.3482 10.0759V8.19197C11.3482 8.11161 11.4107 8.04911 11.4911 8.04911H12C12.0804 8.04465 12.1473 8.11161 12.1473 8.1875ZM8.48661 8.04464H7.97768C7.89732 8.04464 7.83482 8.10714 7.83482 8.1875V11.3616C7.83482 11.442 7.89732 11.5045 7.97768 11.5045H8.48661C8.56697 11.5045 8.62947 11.442 8.62947 11.3616V8.1875C8.62947 8.11161 8.56697 8.04464 8.48661 8.04464ZM7.25893 10.7054H5.87054V8.1875C5.87054 8.10714 5.80804 8.04464 5.72768 8.04464H5.21875C5.1384 8.04464 5.0759 8.10714 5.0759 8.1875V11.3616C5.0759 11.4018 5.08929 11.433 5.11608 11.4598C5.14286 11.4821 5.17411 11.5 5.21429 11.5H7.25447C7.33482 11.5 7.39732 11.4375 7.39732 11.3571V10.8482C7.39732 10.7723 7.33482 10.7054 7.25893 10.7054ZM14.8259 8.04464H12.7857C12.7098 8.04464 12.6429 8.10714 12.6429 8.1875V11.3616C12.6429 11.4375 12.7054 11.5045 12.7857 11.5045H14.8259C14.9062 11.5045 14.9687 11.442 14.9687 11.3616V10.8527C14.9687 10.7723 14.9062 10.7098 14.8259 10.7098H13.4375V10.1741H14.8259C14.9062 10.1741 14.9687 10.1116 14.9687 10.0312V9.51786C14.9687 9.4375 14.9062 9.375 14.8259 9.375H13.4375V8.83929H14.8259C14.9062 8.83929 14.9687 8.77679 14.9687 8.69643V8.1875C14.9643 8.11161 14.9018 8.04464 14.8259 8.04464ZM20 4.14733V16.8839C19.9955 18.8839 18.3571 20.5045 16.3527 20.5H3.61608C1.61608 20.4955 -0.00445508 18.8527 9.20161e-06 16.8527V4.11608C0.00447348 2.11608 1.64733 0.495545 3.64733 0.500009H16.3839C18.3839 0.504473 20.0045 2.14286 20 4.14733ZM17.25 9.62054C17.25 6.36161 13.9821 3.70983 9.96875 3.70983C5.95536 3.70983 2.68751 6.36161 2.68751 9.62054C2.68751 12.5402 5.27679 14.9866 8.77679 15.4509C9.62947 15.6339 9.53125 15.9464 9.33929 17.0937C9.30804 17.2768 9.19197 17.8125 9.96875 17.4866C10.7455 17.1607 14.1607 15.0179 15.692 13.2589C16.7455 12.0982 17.25 10.9241 17.25 9.62054Z' fill='currentColor'/%3E%3C/svg%3E%0A");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1473 8.1875V11.3616C12.1473 11.442 12.0848 11.5045 12.0045 11.5045H11.4955C11.4464 11.5045 11.4018 11.4777 11.3795 11.4464L9.92411 9.48214V11.3661C9.92411 11.4464 9.86161 11.5089 9.78125 11.5089H9.27232C9.19197 11.5089 9.12947 11.4464 9.12947 11.3661V8.19197C9.12947 8.11161 9.19197 8.04911 9.27232 8.04911H9.77679C9.82143 8.04911 9.87054 8.07143 9.89286 8.11161L11.3482 10.0759V8.19197C11.3482 8.11161 11.4107 8.04911 11.4911 8.04911H12C12.0804 8.04465 12.1473 8.11161 12.1473 8.1875ZM8.48661 8.04464H7.97768C7.89732 8.04464 7.83482 8.10714 7.83482 8.1875V11.3616C7.83482 11.442 7.89732 11.5045 7.97768 11.5045H8.48661C8.56697 11.5045 8.62947 11.442 8.62947 11.3616V8.1875C8.62947 8.11161 8.56697 8.04464 8.48661 8.04464ZM7.25893 10.7054H5.87054V8.1875C5.87054 8.10714 5.80804 8.04464 5.72768 8.04464H5.21875C5.1384 8.04464 5.0759 8.10714 5.0759 8.1875V11.3616C5.0759 11.4018 5.08929 11.433 5.11608 11.4598C5.14286 11.4821 5.17411 11.5 5.21429 11.5H7.25447C7.33482 11.5 7.39732 11.4375 7.39732 11.3571V10.8482C7.39732 10.7723 7.33482 10.7054 7.25893 10.7054ZM14.8259 8.04464H12.7857C12.7098 8.04464 12.6429 8.10714 12.6429 8.1875V11.3616C12.6429 11.4375 12.7054 11.5045 12.7857 11.5045H14.8259C14.9062 11.5045 14.9687 11.442 14.9687 11.3616V10.8527C14.9687 10.7723 14.9062 10.7098 14.8259 10.7098H13.4375V10.1741H14.8259C14.9062 10.1741 14.9687 10.1116 14.9687 10.0312V9.51786C14.9687 9.4375 14.9062 9.375 14.8259 9.375H13.4375V8.83929H14.8259C14.9062 8.83929 14.9687 8.77679 14.9687 8.69643V8.1875C14.9643 8.11161 14.9018 8.04464 14.8259 8.04464ZM20 4.14733V16.8839C19.9955 18.8839 18.3571 20.5045 16.3527 20.5H3.61608C1.61608 20.4955 -0.00445508 18.8527 9.20161e-06 16.8527V4.11608C0.00447348 2.11608 1.64733 0.495545 3.64733 0.500009H16.3839C18.3839 0.504473 20.0045 2.14286 20 4.14733ZM17.25 9.62054C17.25 6.36161 13.9821 3.70983 9.96875 3.70983C5.95536 3.70983 2.68751 6.36161 2.68751 9.62054C2.68751 12.5402 5.27679 14.9866 8.77679 15.4509C9.62947 15.6339 9.53125 15.9464 9.33929 17.0937C9.30804 17.2768 9.19197 17.8125 9.96875 17.4866C10.7455 17.1607 14.1607 15.0179 15.692 13.2589C16.7455 12.0982 17.25 10.9241 17.25 9.62054Z' fill='currentColor'/%3E%3C/svg%3E%0A");
    background: #FFFFFF;
    width: 20px;
    height: 20px;
    display: block;
  text-align: center;
    transition: 0.35s cubic-bezier(0, 0, 0, 1);
  }
}

.wdl-btn-share {
  border: none;
  font-weight: 600;
  text-align: center;
  transition:
    0.25s background ease-out,
    0.25s color ease-out,
    0.25s box-shadow ease-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #777777;
  font-size: 16px;

  svg {
    font-size: 60px;
    color: #EB355D;
    fill: currentColor;
    background: #f4f4f4 !important;
    padding: 16px;
    border-radius: 100px;
    aspect-ratio: 1/1;
    margin-bottom: 8px;
  text-align: center;
    transition:
      0.25s background ease-out,
      0.25s color ease-out,
      0.25s box-shadow ease-out;
  }

  &:hover {
    svg {
      box-shadow: 0 0 0 1px #EB355D inset;
    }
  }
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    color: #d3d3d3;

    svg {
      color: #d3d3d3;
      box-shadow: 0 0 0 1px #d3d3d3 inset;
    }
  }
}

.wdl-btn-link {
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #EB355D !important;
  background: transparent;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  transition: 0.25s background ease-out;
  position: relative;
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    color: #d3d3d3;
  }
}
