
.wdl-btn {
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff !important;
  background: #ff2758;
  border-radius: 4px;
  display: inline-block;
  transition: .25s background ease-out;
  position: relative;
  &.disabled, &:disabled {
    cursor: not-allowed;
    background: #d3d3d3;
  }
}

.wpc-filters-submit-button {
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff !important;
  background: #ff2758;
  border-radius: 4px;
  display: inline-block;
  transition: .25s background ease-out;
  position: relative;
  &.disabled, &:disabled {
    cursor: not-allowed;
    background: #d3d3d3;
  }
}

.wdl-btn-secondary {
  border: none;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  background: #ffffff !important;
  color: #ff2758;
  box-shadow: 0 0 0 1px #ff2758 inset;
  border-radius: 4px;
  display: inline-block;
  transition: .25s background ease-out, .25s color ease-out;
  position: relative;
  &.disabled, &:disabled {
    cursor: not-allowed;
    color: #d3d3d3;
    box-shadow: 0 0 0 1px #d3d3d3 inset;
  }
}

.wdl-btn-rounded {
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff !important;
  background: #ff2758;
  border-radius: 30px;
  display: inline-block;
  transition: .25s background ease-out;
  position: relative;
  &.disabled, &:disabled {
    cursor: not-allowed;
    background: #d3d3d3;
  }
}

.wdl-btn-lg {
  border: none;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff !important;
  background: #ff2758;
  border-radius: 8px;
  display: inline-block;
  transition: .25s background ease-out;
  position: relative;
  &.disabled, &:disabled {
    cursor: not-allowed;
    background: #d3d3d3;
  }
}

.wdl-btn-more {
  &::after {
    content: "$";
    color: #ff2758;
    text-align: right;
    font-family: ETmodules !important;
    font-size: 20px;
    display: inline-block;
    opacity: 1;
    transition: 0.25s transform, 0.25s opacity;
    vertical-align: middle;
    transform: none;
    margin-left: 4px;
  }
}