// Compare
.wdl-compare-swiper {
  overflow: hidden;
  margin: 0 -16px;
  padding: 0 16px;
  @media (min-width: 1200px) {
    margin: auto;
  }
  @media (min-width: 1200px) {
    padding: 24px;
    box-shadow: 0 0 0 2px #d9d9d9;
    border-radius: 6px;
  }

  &.wdl-compare-swiper-2 {
    @media (min-width: 1200px) {
      max-width: 661px;
    }
  }
  &.wdl-compare-swiper-3 {
    @media (min-width: 1200px) {
      max-width: 963px;
    }
  }

  .swiper-slide {
    width: auto;
    max-width: 180px;

    @media (min-width: 1200px) {
      width: auto;
      max-width: none;
    }

    &.card {
      &:hover {
        box-shadow: none;
      }
    }
  }

  .wdl-btn {
    @media (max-width: 1200px) {
      font-size: 0.875rem;
      padding: 4px 4px;
    }
  }
}

.wdl-compare-bar {
  position: fixed;
  bottom: 12px;
  margin-bottom: 12px;
  left: 0;
  width: 100%;
  z-index: 1020;
  transform: translateY(20%);
  opacity: 0;
  transition: .25s transform, .25s opacity;
  pointer-events: none;
  
  @include max-width-xl {
    padding: 0 16px;
  }
  
  &.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .wdl-compare-bar-wrapper {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 12px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    @include max-width-xl {
      flex-direction: column;
    }

    .wdl-compare-bar-selection {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #777777;

      @include max-width-xl {
        flex-direction: column;
      }


      .wdl-compare-bar-selection-label {
        p {
          font-size: 14px;
          margin-bottom: 0;
        }
      }
      .wdl-compare-bar-selection-group {
        display: flex;
        gap: 10px;

        @include max-width-xl {
          flex-wrap: wrap;
          justify-content: center;
        }
        .wdl-compare-bar-selection-card {
          width: 112px;
          height: 32px;
          border-radius: 4px;
          border: 1px solid #777;
          background: #FFF;
          padding: 2px;
          position: relative;
          cursor: pointer;
          transition: .25s border ease-out;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          &:hover {
            border: 1px solid #ff2758;
            p {
              color: #ff2758;
            }

            &::before {
              color: #ff2758;
            }
          }

          p {
            @extend .lineclamp-2;
            color: #777;
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 12px;
            margin-bottom: 0;
            transition: .25s color ease-out;
          }

          &::before {
            content: "";
            width: 8px;
            height: 8px;
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z'%3E%3C/path%3E%3C/svg%3E");
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center center;
            vertical-align: middle;
            background-color: #333333;
            transition: .25s opacity ease-out, .25s color ease-out;
          }


          &.empty {
            border-style: dashed;

            &::before {
              opacity: 0;
            }

            p {
              color: transparent;
            }
          }
        }
      }
    }
    .wdl-compare-bar-action {
      display: flex;
      gap: 10px;

      a {
        padding: 6px 7px;
        min-width: 112px;
        text-align: center;
        font-size: 14px;
      }


      .wdl-btn-secondary {
        &.disabled {
          display: none;
        }
      }
    }
  }
}