.wdl-coupon-card {
  box-shadow: 0px 10px 20px 0px #00000026;
  padding: 20px 16px;

  .wdl-coupon-card-share {
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 70px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    img {
      width: 14px;
      height: 14px;
    }
  }

  .wdl-coupon-card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 4px;
  }

  .wdl-coupon-card-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .wdl-coupon-card-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #ff2758;
    margin-bottom: 4px;
  }

  .wdl-coupon-card-datetime {
    font-size: 14px;
    font-family: Noto Sans Thai;
    margin-bottom: 16px;
  }

  .wdl-coupon-card-condition {
    border: 1px solid #e1e1e1;
    background-color: #f7f7f7;
    border-radius: 12px;
    padding: 16px 12px;
    margin-bottom: 24px;
    font-size: 14px;

    .wdl-coupon-card-condition-title {
      font-size: 14px;
      color: #37bad6;
      font-weight: 600;
      margin-bottom: 8px;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}

.wdl-coupon-picker {
  box-shadow: 0px 5px 10px 0px #00000026;
  width: 143px;
  flex: 0 0 auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  cursor: pointer;
  position: relative;
  height: auto;

  .wdl-coupon-picker-image {
    flex: 0 0 auto;
    img {
      width: 143px;
      height: 71px;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  .wdl-coupon-picker-info {
    width: 100%;
    padding: 8px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    .wdl-coupon-picker-title {
      font-family: Noto Sans Thai;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
      margin-bottom: 4px;
      flex: 1 0 auto;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
      p,
      a {
        display: block;
        color: #333333;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
    }

    .wdl-coupon-picker-action {
      color: #ff2758;
      font-family: Noto Sans Thai;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 4px;

      p, a, button{
        display: block;
        margin-bottom: 0;
        border: 1px solid #ff2758;
        color: #ff2758;
        background: none;
        padding: 2px 8px;
        border-radius: 6px;
        display: flex;
        gap: 10px;
        font-weight: 600;
      }
    }

    .wdl-coupon-picker-term {
      font-family: Noto Sans Thai;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-decoration: underline;

      a {
        color: #333333;
        text-decoration: underline;
        margin-bottom: 0;
        font-weight: 400;
      }
    }
  }

  &.active {
    background: #ff27581a;

    .wdl-coupon-picker-info {
      .wdl-coupon-picker-action {
        p {
          background: #ff27581a;
          border: none;
        }
      }
    }
  }

  .wdl-coupon-picker-indicator {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 50%;
    animation: wdl-coupon-picker-indicator 3s both;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ff2758' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M64 64C28.7 64 0 92.7 0 128v64c0 8.8 7.4 15.7 15.7 18.6C34.5 217.1 48 235 48 256s-13.5 38.9-32.3 45.4C7.4 304.3 0 311.2 0 320v64c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V320c0-8.8-7.4-15.7-15.7-18.6C541.5 294.9 528 277 528 256s13.5-38.9 32.3-45.4c8.3-2.9 15.7-9.8 15.7-18.6V128c0-35.3-28.7-64-64-64H64zm64 112l0 160c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16V176c0-8.8-7.2-16-16-16H144c-8.8 0-16 7.2-16 16zM96 160c0-17.7 14.3-32 32-32H448c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H128c-17.7 0-32-14.3-32-32V160z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    &.active {
      animation: wdl-coupon-picker-indicator 3s both cubic-bezier(0,0,0,1);
      display: block;
    }

    @keyframes wdl-coupon-picker-indicator {
      0% {transform: translateX(-50%) translateY(-10px); opacity: 1;}
      100% {transform: translateX(-50%) translateY(-40px); opacity: 0;}
    }
  }

  &.wdl-coupon-picker-small {
    box-shadow: none;
  }
}
