.wdl-dropdown {
  position: relative;

  > button {
    white-space: nowrap;
  }

  .dropdown-menu {
    margin: auto;
    margin-top: 0;
    border-radius: 8px;
    padding: 8px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border: none;
    width: max-content;
    position: absolute;
    inset: 100% auto auto 50% !important;
    background: #FFFFFF;
    border-radius: 8px;
    right: auto;
    transition: 0.35s cubic-bezier(0, 0, 0, 1);
    transition-property: opacity, transform;
    list-style: none;
    max-height: 40vh;
    max-width: 300px;
    overflow: auto;
    opacity: 0;
    display: block;
    transform: translateX(-50%) translateY(-10px);
    transform-origin: top right;
    visibility: hidden;
    &.show {
      opacity: 1;
      transform: translateX(-50%) translateY(0) !important;
      visibility: visible;
    }

    li {
      padding: 0;
      a {
        display: block;
        border-radius: 0;
        border: none;
        padding: 6px 24px;
        font-weight: 400;
        transition: 0.25s color;
        font-size: 14px;
        color: #595959 !important;
        box-shadow: none;
        line-height: 1.25;

        &:hover {
          color: #EB355D !important;
        }
      }
    }
  }
}
