@use 'variable' as *;
.wdl-filter {
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: space-between;

  @include max-width-xl {
    justify-content: flex-start;
    flex-direction: column;
  }
}

.wdl-filter-detail {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  overflow: visible;
  z-index: 5;
  padding: 8px 0;
  border: 1px solid #EEEEEE;
  border-left: none;
  border-right: none;

  .swiper-wrapper {
    @include min-width-md {
      justify-content: center;
      transform: none !important;
    }
  }
  .swiper-slide {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: -4px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 1px;
      height: 20px;
      background: transparent;
      margin-left: 4px;
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}

.wdl-btn-filter {
  padding: 6px 12px;
  padding-right: 8px;
  white-space: nowrap;
  box-shadow: 0 0 0 1px #C7C7C7 inset;
  border-radius: 8px;
  background: none !important;
  border: none;
  color: #777777 !important;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  transition: 0.35s cubic-bezier(0, 0, 0, 1);
  display: inline-block;
  cursor: pointer;
  display: flex;
  gap: 4px;
  align-items: center;
  max-width: 170px !important;

  &:hover {
    color: #EB355D !important;
    //box-shadow: 0 0 0 1px #EB355D inset;
  }

  svg {
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
  }

  &.active {
    color: #EB355D !important;
    box-shadow: 0 0 0 2px #EB355D inset;
    font-weight: 600;
  }
}
