.wdl-floatbar {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 9999;

  .wdl-floatbar-toggle {
    width: 40px;
    height: 40px;
    background: #eb355d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: #FFFFFF;

    .icon-active {
      display: none;
    }
  }

  .wdl-floatbar-menus {
    display: flex;
    flex-direction: column;
    gap: 12px;
    visibility: hidden;
    opacity: 0;
    translate: 0 20px;
    transition: 0.3s cubic-bezier(0, 0, 0, 1);
    margin-bottom: 12px;

    .wdl-floatbar-menu {
      width: 40px;
      height: 40px;
      background: #eb355d;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 24px;
      position: relative;
      padding-bottom: 2px;

      a {
        color: inherit;
      }

      .tooltip {
        position: absolute;
        top: 50%;
        right: calc(100% + 12px);
        translate: 10px -50%;
        background: rgba(0,0,0,.8);
        color: #fff;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 0.75rem;
        white-space: nowrap;
        opacity: 0;
        transition: 0.3s cubic-bezier(0, 0, 0, 1);
        font-family: inherit;
      }

      &:hover .tooltip {
        opacity: 1;
        translate: 0 -50%;
      }
    }
  }

  &.active {
    .wdl-floatbar-menus {
      visibility: visible;
      opacity: 1;
      translate: 0 0;
    }

    .wdl-floatbar-toggle {
      .icon-inactive {
        display: none;
      }

      .icon-active {
        display: block;
      }
    }
  }
}
