@use 'variable' as *;
@use 'global' as *;
form {
  .fail-message {
    display: none;
  }

  &.failed {
    .fail-message {
      display: block;
    }
  }
}

input.text,
input.title,
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
select,
input[type="date"] {
  border-radius: 0.75rem;
  display: block;
  max-width: none !important;
  width: 100%;
  margin: 0 !important;
  padding: .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #f7f7f7 !important;
  border: none !important;
  height: auto !important;
  min-height: 0;

  @include max-width-xl {
    padding: 6px 8px;
  }

  &:disabled {
    color: #CCC;
    cursor: not-allowed;
  }
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%236C6E71' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1em 1em;
  padding-right: 2.5em;
}

textarea {
  border-radius: 0.75rem;
  max-width: none !important;
  width: 100%;
  margin: 0 !important;
  padding: .75rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #495057;
  background-color: #f7f7f7 !important;
  border: none !important;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #6C6E71;
}

.wdl-label-aside {
  display: flex;
  align-items: center;
  color: #595959;
  font-size: 16px;
  width: 100%;
  max-width: 150px;
  flex: 0 0 auto;
  font-weight: 600;

  @include max-width-xl {
    font-size: 14px;
    max-width: none;
  }
}

.form-floating {
  position: relative;
  display: block;
  input.text,
  input.title,
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="text"],
  select,
  textarea,
  input[type="date"] {
    padding-top: 1.625rem !important;
    padding-bottom: 0.625rem !important;
  }
  > label {
    font-weight: 400;
    color: #c1c1c1;
  }
  > .form-control:not(:placeholder-shown) ~ label::after {
    background: none;
  }
}
.form-floating-small {
  position: relative;
  display: block;
  input.text,
  input.title,
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="text"],
  select,
  textarea,
  input[type="date"] {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  > label {
    font-weight: 400;
    color: #c1c1c1;
    padding: 8px;
  }

 /*  >.form-control-plaintext~label,
  >.form-control:focus~label,
  >.form-control:not(:placeholder-shown)~label,
  >.form-select~label {
    
  } */
  > .form-control:not(:placeholder-shown) ~ label::after {
    background: none;
  }
}

.wdl-circle-progress {
  display: flex;
  position: relative;
  min-width: 60px;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-weight: 700;
  color: #EB355D;
}

.wdl-circle-progress canvas {
  position: absolute;
}

.wdl-radio,
.wdl-checkbox {
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 1.4;

  label {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
  }
}


.accordion-button:not(.collapsed) {
  background-color: #ffe2e2;
  color: #EB355D;
}

.wdl-radio input[type="radio"],
.wdl-checkbox input[type="checkbox"] {
  //display: none;
  position: absolute;
  opacity: 0;
}

.wdl-radio input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0px;
  background-color: #ffffff;
  border: 2px solid #cdcdcd;
  border-radius: 2rem;
}

.wdl-radio input[type="radio"]:checked + label:before {
  box-shadow:
    0 0 0 3px #ffffff inset,
    0 0 0 10px #EB355D inset;
  border-color: #EB355D;
}

.wdl-radio input[type="radio"]:disabled + label {
  color: #999999;
  cursor: not-allowed;
  &:before {
    background: #cdcdcd;
  }
}

.wdl-checkbox input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  left: 0;
  top: 0px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: 2px solid #cdcdcd;
  color: transparent;
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
  transition:
    0.25s background,
    0.25s border;
    flex: 0 0 auto;
}

.wdl-checkbox input[type="checkbox"]:disabled + label {
  color: #999999;
  cursor: not-allowed;
  &:before {
    background: #cdcdcd;
  }
}

.wdl-checkbox input[type="checkbox"]:checked + label:before {
  background-color: #EB355D;
  border: 2px solid #EB355D;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23FFF' viewBox='0 0 256 256'%3E%3Cpath d='M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z'%3E%3C/path%3E%3C/svg%3E");
  color: #ffffff;
}

.wdl-radio-button {
  display: flex;
  gap: 16px;

  @media (max-width: 1199px) {
    gap: 8px;
  }
}

.wdl-radio-button input[type="radio"] + label {
  display: inline-block;
  margin: 0;
}

.wdl-radio-button input[type="radio"] {
  display: none;
}

.wdl-radio-button input[type="radio"] + label {
  background: #FFFFFF;
  box-shadow: 0 0 0 1px #cccccc inset;
  padding: 8px 55px;
  border-radius: 8px;
  cursor: pointer;

  @media (max-width: 1199px) {
    padding: 8px 8px;
    font-size: 0.875rem;
  }
}

.wdl-radio-button input[type="radio"]:checked + label {
  background: #EB355D;
  color: #FFFFFF;
  box-shadow: 0 0 0 0 #cccccc inset;
}

.wdl-radio-button input[type="radio"] + label:before,
.wdl-radio-button input[type="radio"] + label:after {
  content: none;
}
.wdl-checkbox-button {
  display: flex;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;

  @include max-width-xl {
    flex-direction: column;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }
  
  input[type="checkbox"] + label,
  input[type="radio"] + label,
  input[type="checkbox"] + .label,
  input[type="radio"] + .label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #FFFFFF;
    padding: 8px 8px;
    flex: 1 0 auto;
    gap: 4px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    color: #595959;
    font-weight: 600;
    text-align: center;
    transition:
      0.25s background,
      0.25s color,
      0.25s box-shadow;
    cursor: pointer;

    @include min-width-xl {
      &:not(:last-of-type) {
        border-right: none;
      }
    }
    
    @include max-width-xl {
      padding: 4px 8px;
      font-size: 14px;
      &:not(:last-of-type) {
        border-bottom: none;
      }
    }
      
    &:first-of-type {
      
      @include min-width-xl {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        &:not(:last-of-type) {
          border-right: none;
        }
      }
      
      @include max-width-xl {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        &:not(:last-of-type) {
          border-bottom: none;
        }
      }
    }
    &:last-of-type {
      
      @include min-width-xl {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        &:not(:first-of-type) {
          //border-left: none;
        }
      }
      
      @include max-width-xl {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        &:not(:first-of-type) {
          //border-top: none;
        }
      }
    }

    > svg {
      width: 20px;
      height: 20px;
      color: inherit;
    }

    &:hover {
      color: #EB355D;
    }
  }
    
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + .label,
  input[type="radio"]:checked + .label {
    border-color: #EB355D;
    background: #EB355D;
    color: #FFFFFF;
    box-shadow: 0 0 0 0 #cccccc inset;

    &:hover {
      color: #ffffff;
    }
  }
  
  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before,
  input[type="checkbox"] + label:after,
  input[type="radio"] + label:after {
    content: none;
  }
  
  .wdl-grid-col-2 {
    @media (min-width: 981px) {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      grid-auto-rows: 1fr;
    }
  }

  &.wdl-checkbox-bundle {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    
    @include max-width-xl {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include max-width-md {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 8px;
    }

    .bundle-item {
      padding: 8px;
      box-shadow: 0 0 0 1px #EAEAEA inset, 0 0 0 2px rgba(255, 39, 88, 0%);
      border-radius: 8px;
      transition: .35s cubic-bezier(0,0,0,1);

      &.active {
        box-shadow: 0 0 0 1px #EB355D inset, 0 0 0 2px rgba(255, 39, 88, 30%);
      }
    }

  }

  &.wrap {
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 21px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC;
    gap: 1px;

    @include max-width-xl {
      flex-direction: row;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label,
    input[type="checkbox"] + .label,
    input[type="radio"] + .label {
      border-radius: 0 !important;
      border: none !important;


      > svg {
        width: 20px;
        height: 20px;
        color: inherit;
      }

      &:hover {
        color: #EB355D;
      }
    }
  }
}

.wdl-form-progress {
  gap: 20px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #EEEEEE;
}

.wdl-form-progress p {
  margin: 0;
}

.wdl-form-progress h2 {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

.wdl-select select {
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  background: #fff !important;
  color: #EB355D;
  box-shadow: 0 0 0 1px #EB355D inset;
  border-radius: 4px;
  display: inline-block;
}


/* Register page */
.wdl-page-register {
  background: #f7f7f7;

  .wdl-page-register-container {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px 24px;
  }
}


.wdl-form-general-list {
  padding-left: 1.1rem;
  > li {
    font-size: 14px;
    @extend .text-accent;
    > span {
      @extend .lineclamp-1;
    }
  }
}

/* General form loader */
.wdl-form-general-modal {
  .modal-body {
    &::before {
      content: '';
      border-radius: 1rem;
      position: absolute;
      background: rgba(255,255,255,.6);
      inset: 0 0 0 0;
      z-index: 5;
      opacity: 0;
      transition: .5s opacity cubic-bezier(0,0,0,1);
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0 0 0 0;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3CradialGradient id='a12' cx='.66' fx='.66' cy='.3125' fy='.3125' gradientTransform='scale(1.5)'%3E%3Cstop offset='0' stop-color='%23FF156D'%3E%3C/stop%3E%3Cstop offset='.3' stop-color='%23FF156D' stop-opacity='.9'%3E%3C/stop%3E%3Cstop offset='.6' stop-color='%23FF156D' stop-opacity='.6'%3E%3C/stop%3E%3Cstop offset='.8' stop-color='%23FF156D' stop-opacity='.3'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23FF156D' stop-opacity='0'%3E%3C/stop%3E%3C/radialGradient%3E%3Ccircle transform-origin='center' fill='none' stroke='url(%23a12)' stroke-width='5' stroke-linecap='round' stroke-dasharray='200 1000' stroke-dashoffset='0' cx='100' cy='100' r='70'%3E%3CanimateTransform type='rotate' attributeName='transform' calcMode='spline' dur='1' values='360;0' keyTimes='0;1' keySplines='0 0 1 1' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/circle%3E%3Ccircle transform-origin='center' fill='none' opacity='.2' stroke='%23FF156D' stroke-width='5' stroke-linecap='round' cx='100' cy='100' r='70'%3E%3C/circle%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100px;
      opacity: 0;
      transition: .5s opacity cubic-bezier(0,0,0,1);
      pointer-events: none;
    }
    
    &.submitting {
      &::before {
        opacity: 1;
        pointer-events: all;
      }

      &::after {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.wdl-form-submit {
  padding: 8px 60px;
  font-size: 20px;
  .loader {
    display: none;
    margin-right: 4px;
    //display: none;
    color: #FFFFFF;
    animation: 1s loaderAnimation linear infinite;
  }

  @keyframes loaderAnimation {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
  }
  &.loading {
    opacity: 0.5;
    pointer-events: none;

    .loader {
      display: inline-block;
    }
  }
}

.wdl-file-upload {
  display: flex;
  gap: 36px;
  align-items: center;
  margin: 24px 0;

  img {
    width: 150px;
    height: 150px;
    border-radius: 99px;
    object-fit: cover;
  }

  input[type=file] {
    display: none;
  }

  .wdl-btn {
    width: fit-content;
  }

  .text {
    display: flex;
    flex: 1 1 0;
    gap: 8px;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
  }
}