/* Lead Menu */
.wdl-lead-menu-small-swiper {
  padding: 0 12px;
}
.lead-menu-small-swiper {
  overflow: visible;
}
.wdl-lead-menu-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;

  strong {
    font-weight: 500;
  }

  @media (max-width: 991px) {
    font-size: 1rem;
    strong {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 767px) {
    grid-template: 1fr / 1fr 1fr;
    font-size: 0.875rem;
    strong {
      font-size: 1rem;
    }
  }

  .wdl-lead-menu {
    display: block;
    margin: 0 !important;
    &:first-of-type {
      grid-row: span 2;

      @media (max-width: 767px) {
        grid-row: 1;
        grid-column: span 2;
      }
    }

    .et_pb_blurb_content {
      height: 100%;
      .et_pb_main_blurb_image {
        margin-bottom: 0 !important;
        display: block !important;
        height: 100%;
        .et_pb_image_wrap {
          height: 100% !important;
        }
      }
    }

    .et_pb_main_blurb_image img {
      height: 100%;
      width: 100%;
      aspect-ratio: 3.4/1;
      @media (max-width: 767px) {
        max-height: 90px;
        aspect-ratio: auto;
      }
    }
  }
  .menu-item {
    display: block;
    position: relative;
    display: block;
    border-radius: 1rem;
    margin: 0 !important;
    overflow: hidden;

    &:first-of-type {
      grid-row: span 2;

      @media (max-width: 767px) {
        grid-row: 1;
        grid-column: span 2;
      }
    }

    a {
      height: 100%;
      color: #ffffff;
      img {
        margin-bottom: 0 !important;
        display: block !important;
        height: 100%;
        z-index: -1;
        transform: scale(1);
        transition: transform 0.25s ease-out;
        object-fit: cover;
        &:hover {
          transform: scale(1.1);
        }
      }
      span {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 10px 21px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        z-index: 1;
        top: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      }
    }

    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 3.4/1;
      @media (max-width: 767px) {
        max-height: 90px;
        aspect-ratio: auto;
      }
    }
  }

  &.wdl-lead-menu-small-container {
    /* grid-template: 1fr / repeat(5, 1fr); */
    display: flex;
    font-size: 0.875rem;
    margin-bottom: 0;

    strong {
      font-size: 1rem;
      font-weight: 700;
    }

    @media (max-width: 991px) {
      font-size: 0.875rem;
      strong {
        font-size: 1rem;
      }
    }

    @media (max-width: 767px) {
      grid-template: 1fr / 1fr 1fr;
      font-size: 0.875rem;
      strong {
        font-size: 1rem;
      }
    }

    .menu-item {
      aspect-ratio: 2/1;
      min-width: 180px !important;
      min-height: 90px;
      flex: 1 1 0;
    }
  }
}
.wdl-lead-menu {
  position: fixed;
  left: 0;
  top: var(--header-height, 70px);
  width: 100%;
  height: 70px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 99997;
  background: rgba(255, 255, 255, 0.9);
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.15),
    0 1px 0 #d9d9d9 !important;
  backdrop-filter: blur(5px) saturate(4);
  transition: .35s cubic-bezier(0,0,0,1);

  @include max-width-md {
    height: 55px;
  }

  .wdl-lead-menu-swiper {
    //mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  }

  ul.wdl-lead-menu-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    @include max-width-xl {
      gap: 0;
    }

    > li {
      width: auto;
      > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        min-width: 70px;
        flex: 0 0 auto;
        height: 70px;
        gap: 4px;
        color: #333333;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 600;
        transition: .35s cubic-bezier(0,0,0,1);
        white-space: nowrap;

        @include max-width-md {
          min-width: 50px;
          height: 55px;
        }

        img {
          width: 24px;
          height: 24px;
          margin: 0;
          display: block;
          transition: .35s cubic-bezier(0,0,0,1);

          @include max-width-md {
            width: 20px;
            height: 20px;
          }
        }

        &:hover,
        &.current-menu-parent {
          color: #ff2758;

          img {
            filter: brightness(1.4) sepia(1) saturate(7) hue-rotate(313deg);
          }
        }
      }
      &.current-menu-item {
        a {
          color: #ff2758;

          img {
            filter: brightness(1.4) sepia(1) saturate(7) hue-rotate(313deg);
          }
        }
      }
    }
  }

  &.inactive {
    translate: 0 -100%;
    opacity: 0;
  }
}
.admin-bar .wdl-lead-menu {
  top: calc(var(--header-height, 70px) + 32px);
  
  @media (max-width: 782px) {
    top: calc(var(--header-height, 70px) + 46px);
  }
}
.wdl-lead-menu-revamped-container {
  padding: 0;
}
.wdl-lead-menu-revamped {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 0.5rem;
  filter: drop-shadow(0px 4px 15px -5px rgba(0, 0, 0, 0.15));
  list-style: none;
  padding: 0 12px;
  margin: 0;

  &::-webkit-scrollbar {
    display: none;
  }
  @include max-width-xl {
    overflow: auto;
    scroll-snap-type: x mandatory;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: auto;
    grid-auto-flow: column;
    scroll-padding: 12px;
  }

  .menu-item {
    height: 60px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    flex: 1 0 auto;
    padding: 0;
    scroll-snap-align: start;

    > a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:after {
      content: "";
      background: rgba(255, 39, 88, 0.8);
      position: absolute;
      inset: 0 0 0 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: 0.5s cubic-bezier(0, 0, 0, 1) opacity;
    }

    @include max-width-xl {
      width: 190px;
    }

    @include max-width-md {
      width: 150px;
    }

    @include min-width-xl {
      font-size: 18px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0 0 0 0;
      object-fit: cover;
      z-index: 0;
      opacity: 0.5;
      transition: 0.5s cubic-bezier(0, 0, 0, 1) transform;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      position: relative;
      z-index: 2;
      color: #333333;
      transition: 0.5s cubic-bezier(0, 0, 0, 1) color;
      line-height: 1.2;
      width: 100%;
      height: 100%;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }

      &::after {
        opacity: 1;
      }

      span {
        color: #ffffff;
      }
    }
  }
}
