.wdl-link-back {
  display: inline-block;
  &:before {
    content: "\23";
    font-size: 1em;
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #ff2758;
    margin-right: 0.5rem;
    width: 1em;
  }
}
.wdl-link-print {
  display: inline-block;
  padding: 8px 12px;
  &:before {
    content: "\e0fa";
    font-size: 1em;
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #ff2758;
    margin-right: 0.5rem;
    width: 1em;
  }
}
.wdl-link-share {
  display: inline-block;
  padding: 8px 12px;
  &:before {
    content: "\e0a0";
    font-size: 1em;
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #ff2758;
    margin-right: 0.5rem;
    width: 1em;
  }
}
.wdl-link-external {
  display: inline-block;
  &:after {
    content: "\26";
    font-size: 1em;
    vertical-align: middle;
    font-family: ETmodules !important;
    color: #ff2758;
    margin-right: 0.5rem;
    width: 1em;
  }
}
.wdl-link-brochure {
  padding: 8px;
  color: #37bad6;
  display: inline-block;
  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8274 0.723565C16.9246 0.831553 13.1426 1.22462 10.8078 2.65381C10.6467 2.75242 10.5554 2.92777 10.5554 3.11111V15.7457C10.5554 16.1468 10.9939 16.4002 11.3637 16.2141C13.7659 15.0051 17.2399 14.6752 18.9576 14.5849C19.5441 14.554 20 14.0839 20 13.5203V1.78956C20.0003 1.17461 19.467 0.687454 18.8274 0.723565ZM9.19217 2.65381C6.85776 1.22462 3.07575 0.831901 1.17294 0.723565C0.533343 0.687454 0 1.17461 0 1.78956V13.5207C0 14.0846 0.455911 14.5547 1.04238 14.5853C2.76081 14.6755 6.23657 15.0058 8.63869 16.2155C9.00745 16.4013 9.44461 16.1481 9.44461 15.7481V3.10486C9.44461 2.92117 9.35364 2.75277 9.19217 2.65381Z' fill='%2337BAD6'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #37bad6;
    display: inline-block;
    margin-right: 10px;
  }
}