/* Ads Popup */

.wdl-ad-popup {
  width: 100%;
  max-width: 600px;
}

.wdl-ad-popup img {
  max-height: 600px;
  width: auto;
  height: auto;
}

.wdl-ad-popup-extended {
  .modal-dialog {
    padding: 24px;

    @include max-width-lg {
      padding: 30px;
    }
  }
  .modal-content {
    position: relative;
    width: 100%;
    max-width: 600px;
    background: none;
    border: none;
  }
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 6px;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e"), #FFFFFF;
    background-size: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    --bs-btn-close-color: #ff2758;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    opacity: 1;
    z-index: 2;
  }
  figure {
    margin: 0;
  }
  img {
    max-height: 600px;
    width: auto;
    height: auto;
    border-radius: 8px;
  }

  .wdl-ad-popup-swiper {
    width: 100%;
  }
}
