/* Search */
.wdl-search {
  border-radius: 10px !important;
  transition: 0.25s box-shadow;
  &:focus-within {
    box-shadow: 0 0 0 1px #ff2758;
  }
  .et_pb_searchform {
    .et_pb_s {
      border-radius: 10px 0 0 10px !important;

      ::placeholder {
        color: transparent;
      }
    }
    input.et_pb_searchsubmit {
      color: transparent !important;
      background: #f7f7f7 !important;
      border-radius: 0 10px 10px 0 !important;
    }
  }
  .form-floating,
  .input-group {
    &:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='currentColor' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
      width: 20px;
      height: 20px;
      opacity: 0.6;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      pointer-events: none;
    }
  }

  .forn-control {
    border-radius: 10px 0 0 10px;

    &::placeholder {
      color: #c1c1c1;
    }
  }

  .wdl-search-submit {
    border: none;
    border-radius: 0 10px 10px 0;
    color: transparent;
    background: #f7f7f7;
    padding: 0;
    margin: 0 !important;
  }

  .input-group {
    background: #f7f7f7;
    border-radius: 12px;
    align-items: center;

    input.form-control:first-child {
      border-radius: 10px 0 0 10px;

      &::placeholder {
        color: #c1c1c1;
      }
    }
  }
  .wdl-dropdown {
    display: flex;
    align-items: center;
    background: #f7f7f7 !important;

    .wdl-btn-filter {
      background: transparent;
    }
  }

  select {
    width: auto !important;
    max-width: 140px !important;
    font-size: 0.875rem;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding: 2px 8px 2px 4px;
    border-left: 1px solid #dddddd !important;
    border-right: 1px solid #dddddd !important;
  }
}

// Search suggestion
.ac_results {
  border-radius: 6px;
  min-width: 330px;
  margin-top: 6px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  padding: 0.5rem 1rem;
  .ac_match {
    color: #e31644;
    text-decoration: none;
  }

  li {
    color: #333333;
    padding: 0.5rem 0;
    font-size: 0.875rem;
  }

  .ac_over {
    background: none;
  }
}

/* Filter Everything */
body .wpc-filters-main-wrap .wpc-filters-widget-controls-container a.wpc-filters-apply-button,
body .wpc-filters-main-wrap a.wpc-filters-submit-button {
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background: #ff2758 !important;
  border-radius: 4px !important;
  border: none !important;
  display: inline-block;
  line-height: 1.8;
}

.wpc-filters-range-inputs .ui-slider-horizontal .ui-slider-range {
  background: #ff2758 !important;
}

.wpc-search-icon {
  left: auto !important;
  right: 1rem !important;
}

.wpc-filter-content select {
  padding: 1rem 1rem !important;
}

.wpc-edit-filter-set {
  display: none;
}

.wpc-search-field-wrapper .wpc-search-icon:before {

  content: "";
  width: 14px;
  height: 14px;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M232.49,215.51,185,168a92.12,92.12,0,1,0-17,17l47.53,47.54a12,12,0,0,0,17-17ZM44,112a68,68,0,1,1,68,68A68.07,68.07,0,0,1,44,112Z'%3E%3C/path%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center center;
  vertical-align: middle;
  background-color: #cccccc;
  margin-right: 0.25rem;
  transition: .25s opacity ease-out, .25s color ease-out;

  vertical-align: baseline;
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Result Empty */

.wdl-result-empty {
  .wdl-result-empty-inner {
    min-height: 30vh;
    height: 300px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .wdl-result-empty-image {
      color: #cccccc;

      margin-bottom: 24px;
    }

    p {
      text-align: center;
      font-size: 18px;
      color: #666;
      font-weight: 500;
    }
  }
}
