/* Search */
/* body:not(.wdl-header-search-active) {
  .wdl-header-search {
    margin-top: -64px;
    visibility: hidden;

    @include max-width-lg {
      margin-top: -110px;
    }
  }
} */
.wdl-header-search {
  position: relative;
  padding: 12px 0;
  transition: .35s cubic-bezier(0,0,0,1);
}

#toggleSearch, #closeSearch {
  border: none;
  background: none;
  color: #999999;
  padding: 16px;

  @include max-width-xl {
    padding: 4px 12px;
  }
}
.wdl-search {
  border-radius: 10px !important;
  transition: 0.25s box-shadow;
  box-shadow: 0 0 0 2px #FFFFFF, 0 2px 10px rgba(0, 0, 0, 0.35) ;
  overflow: hidden;
  .et_pb_searchform {
    .et_pb_s {
      border-radius: 10px 0 0 10px !important;

      ::placeholder {
        color: transparent;
      }
    }
    input.et_pb_searchsubmit {
      color: transparent !important;
      background: #f7f7f7 !important;
      border-radius: 0 10px 10px 0 !important;
    }
  }
  /* .form-floating,
  .input-group {
    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      width: 20px;
      height: 20px;
      opacity: 0.6;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      pointer-events: none;
    }
  } */

  .forn-control {
    border-radius: 10px 0 0 10px;

    &::placeholder {
      color: #c1c1c1;
    }
  }

  .wdl-search-submit {
    border: none;
    border-radius: 0 10px 10px 0;
    background: #ff3366;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 20px;
    margin: 0 !important;

    @include max-width-xl {
      font-size: 16px;
    }
  }

  .input-group {
    background: #FFFFFF;
    border-radius: 12px;
    align-items: center;

    input.form-control:first-child {
      border-radius: 10px 0 0 10px;

      &::placeholder {
        color: #c1c1c1;
      }
    }
  }
  .wdl-dropdown {
    display: flex;
    align-items: center;
    background: #f7f7f7 !important;

    .wdl-btn-filter {
      background: transparent;
    }
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    width: auto !important;
    max-width: 240px !important;
    font-size: 20px;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding: 12px 24px;
    border-left: 1px solid #dddddd !important;
    border-right: 1px solid #dddddd !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 12px 12px;
    background-position: center right 8px;
    background-repeat: no-repeat;

    @include max-width-xl {
      max-width: 120px !important;
      font-size: 14px;
      padding: 12px 6px;
    }
  }

  input {
    font-size: 20px;
    padding: 12px 24px !important;

    @include max-width-xl {
      font-size: 14px;
      padding: 12px !important;
    }
  }

  .modal-close {
    display: block;
    padding: 8px;
    font-size: 14px;
    position: absolute;
    inset: calc(100% + 16px) 0 auto;
    margin: auto;
    background: #FFFFFF;
    color: #666666;
    border-radius: 50px;
    border: none;
    width: fit-content;
    line-height: 1;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

// Search suggestion
.ac_results {
  border-radius: 6px;
  min-width: 330px;
  margin-top: 6px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  padding: 0.5rem 1rem;
  .ac_match {
    color: #e31644;
    text-decoration: none;
  }

  li {
  color: #595959;

    padding: 0.5rem 0;
    font-size: 0.875rem;
  }

  .ac_over {
    background: none;
  }
}

/* Filter Everything */
body .wpc-filters-main-wrap .wpc-filters-widget-controls-container a.wpc-filters-apply-button,
body .wpc-filters-main-wrap a.wpc-filters-submit-button {
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background: #EB355D !important;
  border-radius: 4px !important;
  border: none !important;
  display: inline-block;
  line-height: 1.8;
}

.wpc-filters-range-inputs .ui-slider-horizontal .ui-slider-range {
  background: #EB355D !important;
}

.wpc-search-icon {
  left: auto !important;
  right: 1rem !important;
}

.wpc-filter-content select {
  padding: 1rem 1rem !important;
}

.wpc-edit-filter-set {
  display: none;
}

.wpc-search-field-wrapper .wpc-search-icon:before {

  content: "";
  width: 14px;
  height: 14px;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M232.49,215.51,185,168a92.12,92.12,0,1,0-17,17l47.53,47.54a12,12,0,0,0,17-17ZM44,112a68,68,0,1,1,68,68A68.07,68.07,0,0,1,44,112Z'%3E%3C/path%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center center;
  vertical-align: middle;
  background-color: #cccccc;
  margin-right: 0.25rem;
  transition: .25s opacity ease-out, .25s color ease-out;

  vertical-align: baseline;
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Result Empty */

.wdl-result-empty {
  .wdl-result-empty-inner {
    min-height: 30vh;
    height: 300px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .wdl-result-empty-image {
      color: #cccccc;

      margin-bottom: 24px;
    }

    p {
      text-align: center;
      font-size: 18px;
      color: #666666;
      font-weight: 500;
    }
  }
}
