.wdl-tab {
  li {
    > a {
      padding: .5rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
      color: #666666 !important;
      text-align: center;
      justify-content: center;
      align-items: center;
      transition: .35s cubic-bezier(0,0,0,1);
      font-size: 14px;

      > .wdl-tab-icon {
        width: 1rem;
        height: 1rem;
      }

      @include max-width-xl {
        flex-direction: row;
      }

      &.active {
        color: #EB355D !important;
        box-shadow: 0 -3px 0 -.5px #EB355D inset;
      }
    }

    &:hover {
      > a {
        color: #EB355D !important;
      }
    }

    &:active, &:focus {
      > a {
        color: #EB355D !important;
      }
    }
  }
}